<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

    <title>Test email</title>
    
    
    <style>
        * {
            margin: 0px;
            padding: 0px;

            font-family: 'EB Garamond', serif;
        }
        
        body {
            background-color: rgba(255, 227, 26, 0.08);
        }
        img {
            position: absolute;
            height: 20vh;
            min-height: 45px;
            max-height: 85px;
        }
        
        header {
            height: 20vh;
            min-height: 45px;
            max-height: 85px;
            
            background-color:#c1c1c1;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        main {
            margin-top: 20px;
            width: 100%;

            display: flex;
            flex-direction: column;
            align-content: center;
        }
        
        p {
            text-align: center;
        }
        
        .contener {
            width: 90%;
            height: 100%;
            padding: 30px;

            display: flex;
            align-self: center;
            justify-content: center;
            align-items: baseline;
            flex-direction: row;
        }

        h1 {
            text-align: center;
        }
        
        h2 {
            padding: 20px;
            text-align: center;
            
            border-radius: 2px 2px 0px 0px;

            background-color:#c1c1c1;

        }

        .summary {
            margin-top: 10px;
            margin-bottom: 30px;

            border-radius: 0px 0px 2px 2px;

            background-color: aliceblue;
        }

        .summary > div {
            padding: 15px;
        }

        .summary > p {
            padding: 10px;

            background-color:#dcdcdc;
        }

        
        @media screen and (max-width: 768px) {
            img {
                display: none;
            }
            .contener {
                padding: 0;
            }
        }

    </style>
    
</head>

<body>
    
    <img src="https://upload.wikimedia.org/wikipedia/fr/9/9f/Musee_du_Louvre_1992_logo.png" alt="logo du Louvre">
    
    <header>
        <h1>Résumé de commande</h1>
    </header>
    
    <main>
    <p>Bonjour, </p> 

    <p>Merci d'avoir commandé votre place au Louvre, votre commande a bien été enregistré : </p>

    <div class="contener">
        <div class="summary">
            <h2>Résumé de votre commande   :   {{ date }}</h2>
            <p>Code de résevation : {{ code }}</p>

            <div>
                <table>
                    <tbody>

                        <div class="tickets">
                            {% for ticket in tickets %}
                            <tr>
                                <td>Nom : {{ ticket.lastName }}</td><td>Prénom : {{ ticket.firstName }}</td>
                            </tr>
                            <tr>
                                <td>Date : {{ ticket.ticketDate.format('d/m/Y') }}</td><td>{% if(ticket.halfDay) %} Demi-journée {% endif %}</td>
                            </tr>
                            <tr>
                                <td>Prix : {{ ticket.price }} € </td><td></td>
                            </tr>
                            {% endfor %}
                        </div>
                    </tbody>
                </table>
            </div>
            <p>Total : {{ total }} €</p>
        </div>
    </div>
    
    </main>
</body>


</html>

