<!DOCTYPE html>

<!-- ticketCommand date total -->

<html>
    <header>
        <img>
    </header>
    
<p>Bonjour, </p> 

<p>Votre commande a bien été enregistré : </p>

<div class="contener">
    <div class="summary">
        <h1>Résumé de votre commande   :   {{ date }}</h1>
        <p>Code de résevation : {{ code }}</p>
        
        <div>
            <table>
                <tbody>
                    
                    <div class="tickets">
                        {% for ticket in tickets %}
                        <tr>
                            <td>Nom : {{ ticket.lastName }}</td><td>Prénom : {{ ticket.firstName }}</td>
                        </tr>
                        <tr>
                            <td>Date : {{ ticket.ticketDate.format('d/m/Y') }}</td><td>{% if(ticket.halfDay) %} Demi-journée {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Prix : {{ ticket.price }} € </td><td></td>
                        </tr>
                        {% endfor %}
                    </div>
                </tbody>
            </table>
        </div>
        <p>Total : {{ total }} €</p>
    </div>
</div>

</html>

